<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman SBMPTN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
		<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
  		<script th:src="@{/js/bootstrap.min.js}"></script>
  		
  		<link th:href="@{/css/index-default.css}" rel="stylesheet"/>
  		
  		<script>
	        $(document).ready(function() {
	    		$('#list-universitas').DataTable();
			});
        </script>
	</head>
	<body>
		 <div th:replace="header :: header">...</div>
		 <div class="main-container">
		 	<span class="index-title">Daftar Universitas</span>
		 	<table id="list-universitas" border="1" class="table table-striped table-bordered">
	        <thead class="head-table">
	     		<tr>
	        		<th>ID</th>
	        		<th>Nama</th>
	        		<th>Menu</th>
	        	</tr>
	     	</thead>
	        <tbody>
	        	<tr th:each="universitas,iterationStatus: ${universitass}">
			       	<td th:text="${universitas.kode_univ}"></td>
			       	<td th:text="${universitas.nama_univ}"></td>
			       	<td>
			       		<a th:href="'/univ/'+${universitas.kode_univ}"><button type="button" class="btn btn-primary">Lihat Detail</button></a>
			       	</td>
		       	</tr>
	        </tbody>
	        
        </table>
		 </div>
	</body>
</html>